<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
<!--        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>-->
<!--        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/HibernateDemo</property>-->
<!--        <property name="hibernate.connection.username">root</property>-->
<!--        <property name="hibernate.connection.password">11101998dien</property>-->

<!--        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>-->
<!--        <property name="hibernate.hibernate.current_session_context_class">thread</property>-->
<!--        <property name="show_sql">true</property>-->
<!--        <property name="hbm2ddl.auto">create-drop</property>-->

        <mapping class="com.sherlock.hibernatedemo.Entity.Shirt"/>
        <mapping class="com.sherlock.hibernatedemo.Entity.Fresher"/>
        <mapping class="com.sherlock.hibernatedemo.Entity.Address"/>
        <mapping class="com.sherlock.hibernatedemo.Entity.Course"/>
    </session-factory>
</hibernate-configuration>